.imgEmail{
  width: 40px;
  height: 30px;
  margin-right: 5px;
}

.imgPW{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  }

.campoEmail {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
}

.campoSenha {
  margin-left: 55px;
  display: flex;
}

.bntEntrar{
  margin-left: 58px;
}

.titulo{
  text-align: center;
}

.center{
  margin-left: 35%;
}
