<div class="titulo">
  <h1>Pomodoro RPG</h1>
</div>
<div class="container center" fxLayout="column">
  <form [formGroup] = "loginForm" (ngSubmit)="validar()">
    <div class="campoEmail">
      <img class="imgEmail" matListAvatar src='assets\imagens\emailicon.png'>
      <mat-form-field appearance="fill">
      <input matInput formControlName="email" type="email" placeholder="abc@mail..." autofocus>
    </mat-form-field>
    </div>
    <br>
    <div class="campoSenha">
      <img class="imgPW" matListAvatar src='assets\imagens\senhaicon.jpg'>
    <mat-form-field appearance="fill">
      <input matInput formControlName="senha" type="password" placeholder="******">
    </mat-form-field>
    </div>
    <br>
    <div>
      <button class="bntEntrar" mat-raised-button color="basic" [routerLink]="'/cadastro'">Cadastrar-se</button>
      <button type="submit" class="bntEntrar" mat-raised-button color="primary" [disabled]="!loginForm.valid" autofocus>Entrar</button>
    </div>
  </form>
</div>
