<mat-card>
    <mat-grid-list cols="1" rowHeight="40:1">
      <mat-grid-tile>
        <mat-card-header>
          <mat-card-title
            ><h1>
              Nome do usuario
            </h1></mat-card-title
          ></mat-card-header
        >
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-grid-list cols="1" rowHeight="30:1">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h1>Nome do pet</h1>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="30:1">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h2>raça do pet</h2>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="5:1">
    <mat-grid-tile>
      <div id="blackWarrior"></div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="26:1">
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="estudar()">
        Estudar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
