<mat-card>
    <mat-grid-list cols="3" rowHeight="30:3">
      <mat-grid-tile>
        <button mat-raised-button color="primary" [routerLink]="'/ranking'">
          Ranking
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card-header>
          <mat-card-title>
            <h1>Usuário: {{nomeUsuario}}</h1>
            </mat-card-title
          ></mat-card-header>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-divider></mat-divider>
<mat-card>
  <mat-grid-list cols="1" rowHeight="30:1">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h1>Nome do Herói: {{nomeHeroi}}</h1>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="35:1">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h2> Raça do Herói: {{racaHeroi}}</h2>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="32:1">
    <mat-grid-tile>
      <mat-card-header>
        <mat-card-title>
          <h2>Nível de Poder: {{poderHeroi}}</h2>
        </mat-card-title>
      </mat-card-header>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="5:1">
    <mat-grid-tile>
      <div ngClass="{{heroi}}" id="blackWarrior"></div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <mat-grid-list cols="1" rowHeight="26:1">
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="estudar()">
        Estudar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-grid-list cols="5" rowHeight="26:5">
  <mat-grid-tile>
    <button mat-raised-button color="secundary" (click)="voltar()">
      Voltar
    </button>
  </mat-grid-tile>
</mat-grid-list>
